<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Create book</title>
</head>
<body>
<form action="#" th:action="@{/book-update}" th:object="${book}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <br/>
    <label for="price">price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="price">
    <br/>
    <input type="submit" value="Update book">
</form>
</body>
</html>