<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<form action="#" th:action="@{/book-create}" th:object="${book}" method="post">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <label for="price">price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="price">
    <input type="submit" value="Create book">
</form>
</body>
</html>